.gifts-search-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px;

  input {
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #b1b1b1;
    background-color: white;
    max-width: 350px;
    width: 100%;

    @media(max-width: 580px) {
      width: calc(100% - 24px);
      max-width: none;
    }
  }
}
